<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
 <!-- Navigation bar -->
<nav class="bg-blue-700 shadow">
  <div class="mx-auto max-w-7xl px-4">
    <div class="flex h-16 justify-between">
      <div class="flex items-center">
        <button class="bg-white rounded-md w-24 m-2">
          <a href="/" class="p-2">Home</a>
        </button>
        <button class="bg-white rounded-md w-24 m-2">
          <a href="" class="p-2">Dashboard</a>
        </button>
        <button class="bg-white rounded-md w-24 m-2">
          <a href="/login" class="p-2">Login</a>
        </button>
    </div>
  </div>
</nav>

  <main>
    {{{ body }}}
  </main>

<!-- Footer -->
<footer class="bg-blue-700 h-20 flex items-center fixed inset-x-0 bottom-0">
<div class="mx-auto max-w-7xl px-4 text-center">
      <p class="text-sm text-white">Tech Blog 2024</p>
      </div>
</footer>
</body>
</html>
